body{
    background-color: rosybrown;
}

.container{
    margin-top: 5%;
    border-color: red;
    border-style: solid;
    background-color: rgb(245, 147, 147);
}
.words{
    background-color: rosybrown;
    text-align: center;
    text-transform: capitalize;
}

img{
        display: block;
         margin-left: 30%;
         width: 40%;
 
}

.row{
    padding-top: 20px;
}